<% @page_title = "Your teas" %>

<% if @teas.any? %>

	<select name="sort">
		<option value="">Sort By...</option>
		<option value="<%= teafinder_teas_path(:sort => 'name', :sortType => @sortType) %>">Name</option>
		<option value="<%= teafinder_teas_path(:sort => 'display', :sortType => @sortType) %>">Stock</option>
		<option value="<%= teafinder_teas_path(:sort => 'tea_type_id', :sortType => @sortType) %>">Type</option>
		<option value="<%= teafinder_teas_path(:sort => 'tea_style_id', :sortType => @sortType) %>">Style</option>
	</select>

	<% @teas.each do |tea| %>
		<div class="list_item clearfix <% if tea.display == 0 %>out_of_stock<% end %>">
			<div class="edit_icon">
				<%= link_to image_tag("btn_edit.png"), edit_teafinder_tea_path(tea) %>
			</div>
			<div class="list_item_details">
				<div class="list_item_name"><%= link_to tea.name, tea, :class => "tea_name_link" %></div>
				<div class="list_item_atts">
					<%= tea.tea_type.type_name %>, <%= tea.tea_style.style %>
					<% if tea.display.zero? %>, Out of Stock<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	No teas added yet.<br/>
<% end %>

<br>

<%= link_to 'New Tea', new_teafinder_tea_path %>